<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AMing.SettingsExtensions.ToolSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AMing.SettingsExtensions.ToolSettings>
            <setting name="NotifyIcon_Path" serializeAs="String">
                <value>pack://application:,,,/KanColleViewer;Component/Assets/app.ico</value>
            </setting>
        </AMing.SettingsExtensions.ToolSettings>
    </applicationSettings>
</configuration>